# Add Charset for files
AddCharset utf-8 .html .xhtml
Options +FollowSymlinks

# Rewrite Engine
RewriteEngine on
RewriteBase /### PROJECT NAME ####/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|images|media|layout|css|libs|robots\.txt)
RewriteRule ^(.*)$ /### PROJECT NAME ####/index.php?/$1 [L]




##########################################
# Files, Cache & More

<FilesMatch "\.(inc|inc.php|htaccess|class.php|function.php)$">
  order allow,deny
  deny from all
</FilesMatch>

# Add Proper MIME-Type for Favicon
AddType image/x-icon .ico
# Add Proper MIME-Type for vCard
AddType text/x-vcard .vcf

# Enable Apache's mod_expires Module
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A0
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType image/ico "access plus 1 years"
    # ExpiresByType text/css "access plus 1 week"
    # ExpiresByType text/javascript "access plus 1 week"
    # ExpiresByType application/javascript "access plus 1 week"
    # ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>

<ifModule mod_headers.c>
	Header unset ETag
</ifModule>
FileETag None
<FilesMatch "\.php$">
	Header unset Last-Modified
	Header set Cache-Control "no-cache, must-revalidate"
</FilesMatch>
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js\.php|css\.php|swf)$">
	Header unset Last-Modified
	Header set Expires "Fri, 21 Dec 2012 00:00:00 GMT"
	Header set Cache-Control "public, no-transform"
</FilesMatch>