/*------------------*/
/* mark theme */
.cm-s-mark.CodeMirror {
	font-size: 2em;
	height: auto;
	background: transparent;
	color: rgb(60,60,60);
	font-family: inherit;
}
.cm-s-mark.CodeMirror:focus{
	outline: none;
}
.cm-s-mark.CodeMirror pre, .cm-s-mark.CodeMirror pre span{
		line-height: 140%;
}
.cm-s-mark.CodeMirror-focused .CodeMirror-selected {
	background: rgb(180,215,255) !important;
}
.cm-s-mark:not(.CodeMirror-focused) .CodeMirror-selected {
	background: transparent !important;
}
.cm-s-mark .CodeMirror-gutters {
	background: rgba(0,0,0,0.05); border-right: 0px;
}
.cm-s-mark .CodeMirror-linenumber {
	color: rgba(0,0,0,0.25);
	font-size: 0.8em;
	padding-top: 0.2em;
}
.cm-s-mark .CodeMirror-cursor {
	border: 0 !important;
	width: 2px !important;
	background-color: rgb(55,170,225);
}
.cm-s-mark .CodeMirror-activeline-background{
	background-color: rgba(0,0,0,0.02);
}
.cm-s-mark span.cm-comment {
	color: inherit;
	opacity: 0.4;
}
.cm-s-mark .cm-atom, .cm-s-mark .cm-number {
	color: inherit;
	opacity: 0.7;
	font-style: italic;
}
.cm-s-mark .cm-property, .cm-s-mark .cm-attribute {
	color: rgb(120,170,250);
}
.cm-s-mark .cm-keyword {
	color: rgb(230,160,0);
}
.cm-s-mark .cm-string {
	color: inherit;
	opacity: 0.5;
}
.cm-s-mark .cm-qualifier{
	color: inherit;
}
.cm-s-mark span.cm-variable {color: rgb(55,115,215);}
.cm-s-mark span.cm-variable-2 { color: inherit; }
.cm-s-mark span.cm-def {color: #fd971f;}
.cm-s-mark span.cm-bracket {
	color: inherit;
	opacity: 0.5;
}
.cm-s-mark span.cm-tag {
	color: rgb(55,115,215);
}
.cm-s-mark span.cm-link {
	color: rgb(55,115,215);
}
.cm-s-mark .cm-error {
	background: rgb(200,80,70);
	color: rgb(255,255,255);
}
.cm-s-mark .CodeMirror-matchingbracket {
  text-decoration: underline;
	color: rgb(55,115,215) !important;
}
.cm-s-mark .CodeMirror-nonmatchingbracket{
	color: rgb(200,80,70) !important;
}
.cm-s-mark .cm-formatting, .cm-s-mark .cm-formatting-list-ul{
	color: inherit !important;
	opacity: 0.3;
}
.cm-s-mark .cm-formatting-task{
	color: rgb(60,60,60) !important;
}
.cm-s-mark .cm-header{
	font-weight: 600;
}
.cm-s-mark .cm-header-1{
	font-size: 2em;
}
.cm-s-mark .cm-header-2{
	font-size: 1.6em;
}
.cm-s-mark .cm-header-3{
	font-size: 1.4em;
}
.cm-s-mark .cm-header-4{
	font-size: 1.2em;
}
.cm-s-mark .cm-header-5{
	font-size: 1em;
}
.cm-s-mark .cm-header-6{
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
}
.cm-s-mark .cm-trailingspace{
	width: .5em;
	position: relative;
	display: inline-block;
	color: rgba(0,0,0,0.3);
}
.cm-s-mark .cm-trailingspace:before{
	content: "•";
	position: absolute;
	top: 0;
	left: 40%;
}
.edit-options{
	font-size: 0.5em; /* reset ems to 10px */
	position: absolute;
	background-color: rgb(245,245,245);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	border-radius: 0.3em;
	z-index: 999;
	margin-top: 10px;
	opacity: 0;
	transform: translate(-9999px,0);
	-webkit-transform: translate(-9999px,0);
	transition: opacity .3s ease .1s, margin .3s ease .1s, transform 0 ease .4s;
	-webkit-transition: opacity .3s ease .1s, margin .3s ease .1s, -webkit-transform 0 ease .4s;
}
.edit-options.active{
	margin-top: 0;
	display: block;
	opacity: 1;
	transition: opacity .5s ease .2s, margin .3s ease .1s, left .1s ease 0, transform 0 ease 0;
	transform: translate(0,0);
}
.edit-options .panel-arrow{
	width: 1.6em;
	height: 1.6em;
	position: absolute;
	bottom: -1.5em;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}
.edit-options.from-top .panel-arrow{
	top: -1.5em;
	bottom: auto;
}
.edit-options .panel-arrow:before, .edit-options .panel-arrow:after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0;
	height: 0;
	border-width: .8em .8em;
	border-style: solid;
	border-color: rgb(245,245,245) transparent transparent transparent;
	display: block;
	z-index: 2;
}
.edit-options .panel-arrow:after{
	border-color: rgba(0,0,0,0.1) transparent transparent transparent;
	z-index: 1;
	top: .1em;
}
.edit-options.from-top .panel-arrow:before{
	border-color: transparent transparent rgb(245,245,245) transparent;
}
.edit-options.from-top .panel-arrow:after{
	border-color: transparent;
}
/* edit Options content */
.edit-options .mark-button{
	/*width: 1.875em;
	height: 2.4em;*/
	width: 2em;
	height: 1.6em;
	margin: .75em .3em;
	padding: 0;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	position: relative;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: auto 100%;
	opacity: 0.5;
}
.edit-options .mark-button.is-active{
	opacity: 0.75;
}
.edit-options .strong.mark-button{
	width: 1.6em;
	margin-left: .6em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20' class='mark-icon shape-strong'><path d='M7.531,1.032c2.544,0,6.112,0.367,6.112,4.59c0,2.623-1.679,3.462-2.676,3.961 c1.233,0.341,3.279,1.311,3.279,4.328c0,4.381-3.121,5.089-6.505,5.089h-6.19C1.105,19,1,18.895,1,18.449v-1.416 c0-0.472,0.105-0.551,0.551-0.551h1.338V3.55H1.551C1.105,3.55,1,3.472,1,2.999V1.583c0-0.472,0.105-0.551,0.551-0.551H7.531z M7.243,8.455c1.548,0,2.859-0.393,2.859-2.466c0-1.652-1.128-2.203-2.571-2.203H6.43v4.669H7.243z M7.374,16.246 c1.81,0,3.331-0.315,3.331-2.544c0-2.203-1.521-2.492-3.279-2.492H6.43v5.036H7.374z'/></svg>");
}
.edit-options .em.mark-button{
	width: 1em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 20' class='mark-icon shape-em'><path d='M1.138,16.813c0.057-0.286,0.145-0.665,0.262-1.136l1.266-4.905c0.016-0.074,0.031-0.147,0.043-0.221 c0.012-0.074,0.017-0.142,0.016-0.207C2.715,9.967,2.265,9.278,1.633,9.266l0.113-2.022C2.273,7.194,5.285,6.705,5.767,6.66 c0,0,1.209-0.193,1.081,0.208c-0.128,0.4-1.879,7.608-1.879,7.608c-0.167,0.693-0.28,1.173-0.337,1.441 c-0.043,0.213-0.093,0.346-0.149,0.654c-0.036,0.199,0,0.598,0.556,0.598c0.285-0.007,0.326-0.027,0.915-0.027 c0.57-0.048,0.102,0.944-0.373,1.423c-0.781,0.79-1.626,1.196-2.536,1.218c-0.514,0.012-0.98-0.135-1.397-0.441 c-0.416-0.307-0.632-0.786-0.648-1.438C0.994,17.675,1.04,17.311,1.138,16.813z M7.382,0.643c0.376,0.358,0.57,0.799,0.582,1.322 c0.013,0.523-0.16,0.975-0.518,1.355C7.088,3.701,6.648,3.898,6.125,3.91C5.602,3.923,5.15,3.748,4.769,3.385 c-0.38-0.363-0.577-0.806-0.59-1.329C4.167,1.534,4.342,1.084,4.704,0.708s0.805-0.57,1.329-0.583 C6.557,0.113,7.006,0.285,7.382,0.643z'/></svg>");
}
.edit-options .header.mark-button{
	width: 1.6em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 20' class='mark-icon shape-h1'><g><path d='M16,5.496V16.33l1.992,0.768l-0.264,1.704H11.24L11,17.098l2.016-0.744L13,12H6v4.354l2,0.744l-0.24,1.704 H1.288l-0.264-1.704l1.992-0.744V5.496L1,4.704L1.24,3h6.568L8,4.704L6,5.496v4.729h7.016V5.496L11,4.704L11.24,3h6.537 l0.24,0.704L16,5.496z'/><polygon points='25.835,16.577 25.835,5.726 24.1,5.726 20,6.645 20.372,8.645 23,8.645 23,16.573 20.655,16.985 21,19 27.763,19 28.138,17.012'/></g></svg>");
}
.edit-options .quote.mark-button{
	width: 2em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 20' class='mark-icon shape-quote'><g><path class='quote-part-1' d='M2.822,7.114C1.613,9.056,1,10.908,1,12.617c0,1.726,0.466,3.185,1.386,4.336 c0.939,1.176,2.211,1.773,3.78,1.773c1.422,0,2.531-0.441,3.298-1.312c0.756-0.857,1.139-1.853,1.139-2.959 c0-1.229-0.342-2.255-1.017-3.048c-0.688-0.812-1.577-1.224-2.642-1.224c-0.202,0-0.578,0.036-1.184,0.113 c-0.298-0.009-0.452-0.076-0.576-0.208C5.072,9.96,5.02,9.789,5.02,9.554c0-1.012,0.608-2.141,1.808-3.354 C7.53,5.483,8.64,4.577,10.124,3.51l0.256-0.185L9.498,1.672L9.183,1.836C6.169,3.398,4.029,5.174,2.822,7.114z'/> <path class='quote-part-2' d='M15.332,7.113c-1.209,1.942-1.822,3.793-1.822,5.503c0,1.726,0.466,3.185,1.386,4.337 c0.939,1.176,2.211,1.773,3.78,1.773c1.421,0,2.531-0.441,3.298-1.312c0.755-0.858,1.139-1.854,1.139-2.959 c0-1.23-0.342-2.256-1.017-3.049c-0.689-0.812-1.578-1.223-2.643-1.223c-0.205,0-0.581,0.036-1.183,0.113 c-0.305-0.009-0.462-0.079-0.584-0.218C17.582,9.96,17.53,9.788,17.53,9.553c0-1.012,0.608-2.14,1.808-3.354 c0.702-0.717,1.812-1.623,3.296-2.69l0.256-0.185l-0.882-1.653l-0.316,0.164C18.68,3.397,16.54,5.173,15.332,7.113z'/></g></svg>");
}
.edit-options .link.mark-button{
	width: 2em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20' class='mark-icon shape-link'><g><path d='M20.84,1.901l-0.494-0.493C19.438,0.5,18.227,0,16.936,0s-2.502,0.5-3.409,1.408L9.169,5.766 c-1.88,1.88-1.88,4.938,0.001,6.819l0.494,0.493c0.021,0.021,0.044,0.039,0.065,0.059l1.659-1.659 c-0.022-0.021-0.048-0.035-0.069-0.057l-0.494-0.493c-0.967-0.967-0.967-2.541,0-3.507l4.358-4.358 c0.465-0.466,1.088-0.722,1.753-0.722c0.665,0,1.288,0.257,1.755,0.723l0.494,0.493c0.967,0.967,0.967,2.541,0,3.507L16.81,9.44 c0.091,0.429,0.141,0.87,0.141,1.319c0,0.793-0.15,1.562-0.428,2.279L20.84,8.72C22.72,6.841,22.72,3.783,20.84,1.901z'/> <path d='M14.079,7.35l-1.656,1.656c0.466,0.465,0.722,1.088,0.722,1.753c0,0.665-0.257,1.288-0.722,1.754 l-2.556,2.556L8.065,16.87c-0.466,0.465-1.088,0.722-1.754,0.722c-0.665,0-1.288-0.256-1.754-0.723l-0.494-0.493 c-0.465-0.466-0.722-1.088-0.722-1.754c0-0.665,0.256-1.288,0.722-1.753l2.377-2.377C6.185,9.299,6.28,8.046,6.725,6.896 l-4.317,4.317C1.5,12.121,1,13.332,1,14.622c0,1.291,0.5,2.502,1.409,3.41l0.494,0.493c0.907,0.908,2.118,1.408,3.409,1.408 c1.291,0,2.502-0.5,3.41-1.408l2.622-2.622l1.736-1.736c0.908-0.908,1.408-2.119,1.408-3.41S14.986,8.258,14.079,7.35z'/></g></svg>");
}
.edit-options .code.mark-button{
	width: 2.76em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 20' class='mark-icon shape-code'><g><path class='code-part-1' d='M6.345,1.999C5.939,2,5.434,2.287,5.224,2.638L1.159,9.422c-0.211,0.351-0.212,0.927-0.004,1.279l3.9,6.605 c0.208,0.352,0.711,0.641,1.117,0.641h1.619c0.406,0,0.579-0.295,0.383-0.654l-3.601-6.622c-0.196-0.36-0.196-0.949-0.001-1.309 l3.626-6.71c0.195-0.36,0.021-0.655-0.385-0.654L6.345,1.999z'/><path class='code-part-2' d='M14.401,1.999c0.406,0,0.911,0.288,1.121,0.639l4.065,6.784c0.211,0.351,0.212,0.927,0.004,1.279l-3.9,6.605 c-0.208,0.352-0.711,0.641-1.117,0.641h-1.619c-0.406,0-0.579-0.295-0.383-0.654l3.601-6.622c0.196-0.36,0.196-0.949,0.001-1.309 l-3.626-6.71c-0.195-0.36-0.021-0.655,0.385-0.654L14.401,1.999z'/></g></svg>");
}
.edit-options .mark-button:first-child{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-left: 1em;
	background: red;
}
.edit-options .mark-button:last-child{
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-right: .6em;
}
.mark-icon{
	display: inline-block;
	pointer-events:none;
	transition: fill .4s ease;
	height: 16px;
	width: 100%;
}
/*------------------------*/
/* CUSTOMIZE */
/*------------------------*/
/* Edit Panel Icons Color*/
.edit-options .mark-icon{
	/* default color */
	fill: rgb(100,100,100);
}
.edit-options .mark-button:hover .mark-icon{
	/* hover color */
	fill: rgb(0,0,0);
}
.edit-options.strong .strong .mark-icon, .edit-options.em .em .mark-icon, .edit-options.header1 .header1 .mark-icon,
.edit-options.header2 .header2 .mark-icon, .edit-options.quote-1 .quote .mark-icon .quote-part-1, .edit-options.quote-2 .quote .mark-icon,
.edit-options.link .link .mark-icon, .edit-options.code-1 .code .mark-icon .code-part-1, .edit-options.code-2 .code .mark-icon{
	/* active color */
	fill: rgb(55,115,215);
}
/*------------------------*/
/* Edit Panel */

/*------------------------*/
/* Editor */
.cm-s-mark.CodeMirror.CodeMirror-focused{
	/* focus outline */
	box-shadow: 0 0 0 0 rgb(55,115,215);
}
.cm-s-mark .CodeMirror-cursor {
	/* cursor color */
	background-color: rgb(65,125,225);
}
